@page "/"

<PageTitle>UNCP Short URL Admin</PageTitle>

<h1>UNCP Short URL Admin</h1>
<div>
    <p>
    Welcome to the UNCP Short URL Admin page, built upon <b><a href="https://github.com/FBoucher/TinyBlazorAdmin" target="_blank">Tiny Blazor Admin</a></b>. Click "Log in" in the top-right corner to sign in and get started. 
    </p>

    <div>
    <p>About this solution: This is the frontend of a solution using <a href="https://github.com/FBoucher/AzUrlShortener" target="_blank">AzUrlShortener</a> both projects were deployed from GitHub.</p>
    
    <p>Use the Url Manager link on the left navigation page to customize settings. </p>

    <p>If you want to learn more about Tiny Blazor Admin please refer to the <a href="https://github.com/FBoucher/TinyBlazorAdmin" target="_blank">documentation</a>.</p>
    </div>


</div>
